<section class="section about-us">
  <div class="container">
    <div class="block-about-us">
      <div class="about-us-info">
        <h3 class="about-us-title">About Us</h3>
        <p class="about-us-text">
          <span class="text-span">
            Welcome to our premium watch collection, where luxury and style meet
            functionality and precision. Our selection of timepieces embodies
            the very best in Swiss craftsmanship and engineering, ensuring that
            you'll always have a reliable and stylish accessory on your
            wrist.</span
          ><span class="text-span">
            At our premium watch collection, we believe that a watch is more
            than just a timekeeping device – it's a statement piece that
            reflects your personality and style. So why settle for anything less
            than the best?</span
          >
        </p>
        <a href="#catalog" class="catalog-anchor-link"></a>
        <button type="button" class="catalog-btn">View Catalog</button>
      </div>
    </div>
    <div class="thumb">
      <picture>
        <source
          media="min-width: 1280px"
          srcset="
            ./images/wrist-watch-desk-1x.jpg 1x,
            ./images/wrist-watch-desk-2x.jpg
          "
        />
        <source
          media="min-width: 768px"
          srcset="
            ./images/wrist-watch-tab-1x.jpg 1x,
            ./images/wrist-watch-tab-2x.jpg 2x
          "
        />
        <source
          media="max-width: 767px"
          srcset="
            ./images/wrist-watch-mob-1x.jpg 1x,
            ./images/wrist-watch-mob-2x.jpg 2x
          "
        />
        <img
          src="./images/wrist-watch.jpg"
          alt="wrist-watch"
          class="wrist-watch-img"
        />
      </picture>
    </div>
  </div>
</section>
