<section id="catalog">
  <div class="container catalog">
    <div class="catalog-title">
      <h2 class="section-catalog-title">Catalog</h2>
    </div>
    <ul class="catalog-list">
      <li class="catalog-item">
        <img
          class="catalog-image"
          srcset="
            /img/catalog.img/catalog-2.webp 2x,
            /img/catalog.img/catalog-1.webp 1x
          "
          src="/img/catalog.img/catalog-1.webp"
          alt="wristwatch"
          height="226"
        />
        <h3 class="catalog-item-title">Garmin Fenix 7X Pro Sapphire Solar</h3>
        <p class="catalog-price">&#8364;500</p>
      </li>
      <li class="catalog-item">
        <img
          class="catalog-image"
          srcset="
            /img/catalog.img/catalog-4.webp 2x,
            /img/catalog.img/catalog-3.webp 1x
          "
          src="/img/catalog.img/catalog-3.webp"
          alt="wristwatch"
          height="226"
        />
        <h3 class="catalog-item-title">Garmin Marq Athlete</h3>
        <p class="catalog-price">&#8364;450</p>
      </li>
      <li class="catalog-item">
        <img
          class="catalog-image"
          srcset="
            /img/catalog.img/catalog-6.webp 2x,
            /img/catalog.img/catalog-5.webp 1x
          "
          src="/img/catalog.img/catalog-5.webp"
          alt="wristwatch"
          height="226"
        />
        <h3 class="catalog-item-title">Garmin Descent MK1</h3>
        <p class="catalog-price">&#8364;680</p>
      </li>
      <li class="catalog-item">
        <img
          class="catalog-image"
          srcset="
            /img/catalog.img/catalog-8.webp 2x,
            /img/catalog.img/catalog-7.webp 1x
          "
          src="/img/catalog.img/catalog-7.webp"
          alt="wristwatch"
          height="226"
        />
        <h3 class="catalog-item-title">Garmin D2 Delta PX</h3>
        <p class="catalog-price">&#8364;380</p>
      </li>
      <li class="catalog-item hidden">
        <img
          class="catalog-image"
          srcset="
            /img/catalog.img/catalog-10.webp 2x,
            /img/catalog.img/catalog-9.webp  1x
          "
          src="/img/catalog.img/catalog-9.webp"
          alt="wristwatch"
          height="226"
        />
        <h3 class="catalog-item-title">Garmin Fenix 6 Pro Solar</h3>
        <p class="catalog-price">&#8364;400</p>
      </li>
      <li class="catalog-item hidden">
        <img
          class="catalog-image"
          srcset="
            /img/catalog.img/catalog-12.webp 2x,
            /img/catalog.img/catalog-11.webp 1x
          "
          src="/img/catalog.img/catalog-11.webp"
          alt="wristwatch"
          height="226"
        />
        <h3 class="catalog-item-title">
          Tube Watch S42 Date Steel With Black Case
        </h3>
        <p class="catalog-price">&#8364;395</p>
      </li>
    </ul>
    <button class="catalog-button" type="button">Show more</button>
  </div>
</section>
