<section class="catalog-section">
    <div class="catalog-container">
        <h1 class="catalog-title">Catalog</h1>
        <ul class="catalog-list">
            <li class="catalog-item">
                <div class="catalog-cover-wrapper">
                    <picture>
                        <source srcset="./catalog.img/image1.jpg 1x, ./catalog.img/image1@2x.jpg 2x"
                            media="(min-width: 1200px)">
                        <source srcset="./catalog.img/image1-tab.jpg 1x, ./catalog.img/image1-tab@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="./catalog.img/image1-mob.jpg 1x, ./catalog.img/image1-mob@2x.jpg 2x"
                            media="(min-width: 767px)">
                        <img src="./catalog.img/image1.jpg" alt="Garmin Fenix 7X Pro Sapphire Solar"
                            class="catalog-image" />
                    </picture>
                    <p class="catalog-text">Garmin Fenix 7X Pro Sapphire Solar</p>
                    <p2 class="catalog-price">€500</p2>
                </div>
            </li>
            <li class="catalog-item">
                <div class="catalog-cover-wrapper">
                    <picture>
                        <source srcset="./catalog.img/image2.jpg 1x, ./catalog.img/image2@2x.jpg 2x"
                            media="(min-width: 1200px)">
                        <source srcset="./catalog.img/image2-tab.jpg 1x, ./catalog.img/image2-tab@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="./catalog.img/image2-mob.jpg 1x, ./catalog.img/image2-mob@2x.jpg 2x"
                            media="(min-width: 767px)">
                        <img src="./catalog.img/image2.jpg" alt="Garmin Marq Athlete" class="catalog-image" />
                    </picture>
                    <P class="catalog-text">Garmin Marq Athlete</P>
                    <p2 class="catalog-price">€450</p2>
                </div>
            </li>
            <li class="catalog-item">
                <div class="catalog-cover-wrapper">
                    <picture>
                        <source srcset="./catalog.img/image3.jpg 1x, ./catalog.img/image3@2x.jpg 2x"
                            media="(min-width: 1200px)">
                        <source srcset="./catalog.img/image3-tab.jpg 1x, ./catalog.img/image3-tab@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="./catalog.img/image3-mob.jpg 1x, ./catalog.img/image3-mob@2x.jpg 2x"
                            media="(min-width: 767px)">
                        <img src="./catalog.img/image3.jpg" alt="Garmin Descent MK1" class="catalog-image" />
                    </picture>
                    <p class="catalog-text">Garmin Descent MK1</p>
                    <p2 class="catalog-price">€680</p2>
                </div>
            </li>
            <li class="catalog-item">
                <div class="catalog-cover-wrapper">
                    <picture>
                        <source srcset="./catalog.img/image4.jpg 1x, ./catalog.img/image4@2x.jpg 2x"
                            media="(min-width: 1200px)">
                        <source srcset="./catalog.img/image4-tab.jpg 1x, ./catalog.img/image4-tab@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="./catalog.img/image4-mob.jpg 1x, ./catalog.img/image4-mob@2x.jpg 2x"
                            media="(min-width: 767px)">
                        <img src="./catalog.img/image4.jpg" alt="Garmin D2 Delta PX" class="catalog-image" />
                    </picture>
                    <p class="catalog-text">Garmin D2 Delta PX</p>
                    <p2 class="catalog-price">€380</p2>
                </div>
            </li>
            <li class="catalog-item">
                <div class="catalog-cover-wrapper">
                    <picture>
                        <source srcset="./catalog.img/image5.jpg 1x, ./catalog.img/image5@2x.jpg 2x"
                            media="(min-width: 1200px)">
                        <source srcset="./catalog.img/image5-tab.jpg 1x, ./catalog.img/image5-tab@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <img src="./catalog.img/image5.jpg" alt="Garmin Fenix 6 Pro Solar" class="catalog-image" />
                    </picture>
                    <p class="catalog-text">Garmin Fenix 6 Pro Solar</p>
                    <p2 class="catalog-price">€400</p2>
                </div>
            </li>
            <li class="catalog-item">
                <div class="catalog-cover-wrapper">
                    <picture>
                        <source srcset="./catalog.img/image6.jpg 1x, ./catalog.img/image6@2x.jpg 2x"
                            media="(min-width: 1200px)">
                        <source srcset="./catalog.img/image6-tab.jpg 1x, ./catalog.img/image6-tab@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <img src="./catalog.img/image6.jpg" alt="Tube Watch S42 Date Steel With Black Case"
                            class="catalog-image" />
                    </picture>
                    <p class="catalog-text">Tube Watch S42 Date Steel With Black Case</p>
                    <p2 class="catalog-price">€395</p2>
                </div>
            </li>
        </ul>
        <button type="button" class="catalog-btn">Show more</button>
    </div>
</section>