<catalog>
    <div class="catalog">
        <div class="catalog-title">Catalog</div>
                <div class="catalog-item">
                    <picture>
                        <source srcset="./catalog.img/image1.jpg 1x, ./catalog.img/image1@2x.jpg 2x"
                            media="(min-width: 1200px)">
                        <source srcset="./catalog.img/image1-tab.jpg 1x, ./catalog.img/image1-tab@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="./catalog.img/image1-mob.jpg 1x, ./catalog.img/image1-mob@2x.jpg 2x"
                            media="(min-width: 767px)">
                        <img src="./catalog.img/image1.jpg" alt="Garmin Fenix 7X Pro Sapphire Solar"
                            class="catalog-image" />
                    </picture>
                    <div class="title">Garmin Fenix 7X Pro Sapphire Solar</div>
                    <div class="price">€500</div>
                </div>
                <div class="catalog-item">
                    <picture>
                        <source srcset="./catalog.img/image2.jpg 1x, ./catalog.img/image2@2x.jpg 2x"
                            media="(min-width: 1200px)">
                        <source srcset="./catalog.img/image2-tab.jpg 1x, ./catalog.img/image2-tab@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="./catalog.img/image2-mob.jpg 1x, ./catalog.img/image2-mob@2x.jpg 2x"
                            media="(min-width: 767px)">
                        <img src="./catalog.img/image2.jpg" alt="Garmin Marq Athlete" class="catalog-image" />
                    </picture>
                    <div class="title">Garmin Marq Athlete</div>
                    <div class="price">€450</div>
                </div>
                <div class="catalog-item">
                    <picture>
                        <source srcset="./catalog.img/image3.jpg 1x, ./catalog.img/image3@2x.jpg 2x"
                            media="(min-width: 1200px)">
                        <source srcset="./catalog.img/image3-tab.jpg 1x, ./catalog.img/image3-tab@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="./catalog.img/image3-mob.jpg 1x, ./catalog.img/image3-mob@2x.jpg 2x"
                            media="(min-width: 767px)">
                        <img src="./catalog.img/image3.jpg" alt="Garmin Descent MK1" class="catalog-image" />
                    </picture>
                    <div class="title">Garmin Descent MK1</div>
                    <div class="price">€680</div>
                </div>
                <div class="catalog-item">
                    <picture>
                        <source srcset="./catalog.img/image4.jpg 1x, ./catalog.img/image4@2x.jpg 2x"
                            media="(min-width: 1200px)">
                        <source srcset="./catalog.img/image4-tab.jpg 1x, ./catalog.img/image4-tab@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="./catalog.img/image4-mob.jpg 1x, ./catalog.img/image4-mob@2x.jpg 2x"
                            media="(min-width: 767px)">
                        <img src="./catalog.img/image4.jpg" alt="Garmin D2 Delta PX" class="catalog-image" />
                    </picture>
                    <div class="title">Garmin D2 Delta PX</div>
                    <div class="price">€380</div>
                </div>
                <div class="catalog-item">
                    <picture>
                        <source srcset="./catalog.img/image5.jpg 1x, ./catalog.img/image5@2x.jpg 2x"
                            media="(min-width: 1200px)">
                        <source srcset="./catalog.img/image5-tab.jpg 1x, ./catalog.img/image5-tab@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <img src="./catalog.img/image5.jpg" alt="Garmin Fenix 6 Pro Solar" class="catalog-image" />
                    </picture>
                    <div class="title">Garmin Fenix 6 Pro Solar</div>
                    <div class="price">€400</div>
                </div>
                <div class="catalog-item">
                    <picture>
                        <source srcset="./catalog.img/image6.jpg 1x, ./catalog.img/image6@2x.jpg 2x"
                            media="(min-width: 1200px)">
                        <source srcset="./catalog.img/image6-tab.jpg 1x, ./catalog.img/image6-tab@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <img src="./catalog.img/image6.jpg" alt="Tube Watch S42 Date Steel With Black Case"
                            class="catalog-image" />
                    </picture>
                    <div class="title">Tube Watch S42 Date Steel With Black Case</div>
                    <div class="price">€395</div>
                </div>
        </div>
        <button type="button" class="catalog-btn">Show more</button>
    </div>
</catalog>