@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Medium.eot');
    font-weight: 500;
    font-style: normal;
    font-family: 'Gilroy';
    src: url('Gilroy-Semibold.eot');
    font-weight: 600;
    font-style: normal;
}

:root {
    font-family: 'Gilroy', sans-serif;
    background-color: #fbfbfb;
}

body {
    font-family: "Gilroy", sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}


.container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.block-about-us {
    max-width: 335px;
    align-items: flex-start;
    background: #f3f3f3;
    border-radius: 30px;
}

.about-us-info {
    padding: 40px 20px;

}

.about-us-title {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    padding-bottom: 28px;
}

.about-us-text {
    min-width: 295px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    padding-bottom: 40px;
}

.catalog-btn {
    border-radius: 16px;
    width: 160px;
    height: 48px;
    background: #3350e9;
    border: none;
    cursor: pointer;
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #fbfbfb;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-btn:hover,
.catalog-btn:focus {
    background-color: #1f3cd4;
}


.wrist-watch-img {
    border-radius: 30px;
    display: block;
    max-width: 100%;
    background: rgba(12, 12, 12, 0.2);

}



/* Styles for Tablet devices */

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
        gap: 40px;
    }

    .block-about-us {
        max-width: 704px;
        border-radius: 50px;
    }

    .about-us-info {
        padding: 80px 60px;
    }

    .wrist-watch-img {
        max-width: 704px;
    }

    .about-us-title {
        font-size: 48px;
        line-height: 0.91667;
        color: #0c0c0c;
        padding-bottom: 40px;
        gap: 40px;

    }

    .about-us-text {
        font-size: 16px;
        line-height: 1.25;
        padding-bottom: 60px;
    }


    .wrist-watch-img {
        border-radius: 50px;
    }


}

/* Styles for Desktop devices */

@media only screen and (min-width: 1280px) {
    .container {
        display: flex;
        flex-direction: row;
        max-width: 1280px;
        padding-left: 65px;
        padding-right: 65px;
        display: flex;
        gap: 40px;
    }

    .block-about-us {
        max-width: 580px;
    }

    .about-us-text {
        min-width: 460px;
        padding-bottom: 40px;
    }

    .wrist-watch-img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        border-radius: 50px;
    }

}