/* --------------mobile---------------- */
.page-header {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
  margin-bottom: 60px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.nav-list-desktop {
  display: none;
}

.header-social-list {
  display: none;
}

.burger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  max-width: 34px;
  min-height: 34px;
}

.burger-icon {
  stroke: #0c0c0c;
  width: 28px;
  height: 14px;
}

/* -------------menu--------------- */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 200px;
  height: 100%;
  background-color: #ffffff;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  right: 0;
}

.mobile-menu-container {
  padding-top: 240px;
  padding-bottom: 40px;
  background-image: linear-gradient(
      rgba(12, 12, 12, 0.92),
      rgba(12, 12, 12, 0.92)
    ),
    url(/img/menu.img/image-menu-tel.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-resolution: 192dpi),
  (min-resolution: 2dppx),
  (-webkit-min-device-pixel-ratio: 2) {
  .mobile-menu-container {
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)
      ),
      url(/img/menu.img/image-menu-tel2x.webp);
  }
}

.mobile-menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 34px;
  height: 34px;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mobile-close {
  stroke: #fbfbfb;
  width: 20px;
  height: 20px;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: 1;
}

.mobile-nav-item {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #fbfbfb;
}

.mobile-nav-list-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}

.mobile-media {
  margin-top: auto;
}

.mobile-social-list {
  display: flex;
  gap: 10px;
}

.mobile-social-icons-box {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 80%;
}

.mobile-social-networks {
  fill: #fbfbfb;
}

.mobile-social-icons-box:hover,
.mobile-social-icons-box:focus {
  opacity: 100%;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .page-header {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-bottom: 80px;
  }

  .burger-btn {
    max-width: 40px;
    min-height: 40px;
  }

  .burger-icon {
    width: 34px;
    height: 16px;
  }

  .header-logo {
    font-size: 20px;
  }

  /* -----------menu-------------- */
  .mobile-menu {
    width: 330px;
  }

  .mobile-menu-container {
    padding-top: 310px;
    padding-bottom: 50px;
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)
      ),
      url(/img/menu.img/image-menu-tab.webp);
    max-width: 330px;
  }

  @media screen and (min-resolution: 192dpi),
    (min-resolution: 2dppx),
    (-webkit-min-device-pixel-ratio: 2) {
    .mobile-menu-container {
      background-image: linear-gradient(
          rgba(12, 12, 12, 0.92),
          rgba(12, 12, 12, 0.92)
        ),
        url(/img/menu.img/image-menu-tab2x.webp);
    }
  }

  .mobile-menu-close {
    position: absolute;
    top: 26px;
    right: 32px;
    width: 40px;
    height: 40px;
  }

  .mobile-close {
    width: 24px;
    height: 24px;
  }

  .mobile-nav-list {
    gap: 32px;
  }

  .mobile-social-icons-box {
    width: 36px;
    height: 36px;
  }

  .mobile-social-networks {
    width: 20px;
    height: 20px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .header-nav {
    display: flex;
    gap: 203px;
  }

  .nav-list-desktop {
    display: flex;
    gap: 40px;
  }

  .nav-link {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: #0c0c0c;
    margin-bottom: 2px;
  }

  .nav-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-social-list {
    display: flex;
    gap: 10px;
  }

  .header-social-icons-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-social-icons-box:hover,
  .header-social-icons-box:focus {
    fill: #3350e9;
  }

  .burger-btn {
    display: none;
  }
}
