.reviews-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.single-card {
  border-radius: 30px;
  padding: 32px 36px;
  max-width: 335px;
  background-color: #f3f3f3;
}

.card-foto {
  margin: 0 auto 24px;
  border-radius: 50%;
}

.title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 8px;
}

.review-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
}

.victoria {
  display: none;
}

.anastasia {
  display: none;
}

@media only screen and (min-width: 768px) {
  .reviews-title {
    font-size: 48px;
    line-height: 0.91667;
    margin-bottom: 40px;
  }

  .review-cards {
    display: flex;
    gap: 16px;
  }

  .single-card {
    max-width: 344px;
  }

  .title-name {
    font-size: 18px;
    line-height: 1.1;
  }

  .review-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .victoria {
    display: block;
  }
}

@media only screen and (min-width: 1280px) {
  .review-cards {
    gap: 20px;
  }

  .single-card {
    max-width: 370px;
  }

  .anastasia {
    display: block;
  }
}
